body {
    margin: 0;
}

.top {
    height: 150px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 35px;
}

.content {
    height: 450px;
    background: #9effdf;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    width: 30%;
    height: 80%;
    background: #ffc273;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item img {
    height: 70%;
}

h2 {
    font-family: Arial, serif;
    font-size: 25px;
}

.bottom {
    height: 100px;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom h2 {
    margin: 0;
    color: white;
}