body {
    margin: 0;
    background: #b0c9c1;
}

.bg_dark {
    background: #343853;
}

.bg_light {
    background: #b0c9c1;
}

.bg_pink {
    background: #fc5656;
}

.color_dark {
    color: #343853;
}

.color_pink {
    color: #fc5656;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w300 {
    width: 300px;
}

.w350 {
    width: 350px;
}

.w400 {
    width: 400px;
}

.w700 {
    width: 700px;
}

.w25pc {
    width: 25%;
}

.w35pc {
    width: 35%;
}

.w50pc {
    width: 50%;
}

.w65pc {
    width: 65%;
}

.w75pc {
    width: 75%;
}

.w90pc {
    width: 90%;
}

.w100pc {
    width: 100%;
}

.h2 {
    height: 2px;
}

.h50 {
    height: 50px;
}

.h100 {
    height: 100px;
}

.h150 {
    height: 150px;
}

.h200 {
    height: 200px;
}

.h250 {
    height: 250px;
}

.h300 {
    height: 300px;
}

.h350 {
    height: 350px;
}

.h400 {
    height: 400px;
}

.h100pc {
    height: 100%;
}

.h-auto {
    height: auto;
}

.ta-j {
    text-align: justify;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.d-f {
    display: flex;
}

.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mg0 {
    margin: 0;
}

.mg10 {
    margin: 10px;
}

.mg20 {
    margin: 20px;
}

.mg30 {
    margin: 30px;
}

.mg-0-a {
    margin: 0 auto;
}

.mg-t-100 {
    margin-top: 100px;
}

.br10 {
    border-radius: 10%;
}

.br50 {
    border-radius: 50%;
}

/*__________________________________________________*/
/*___________________________________________________*/

.button {
    margin: 25px 0 0 90px;
}

.menu .right_part  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}

.drop_down_menu ul {
    display: inline;
    margin: 0;
    padding: 0;
}
.drop_down_menu li {
    display: inline-block;
}

.drop_down_menu .button_for_hovering:hover ul {
    display: block;
}

.drop_down_menu .button_for_hovering .hidden_menu {
    position: absolute;
    display: none;
}
.drop_down_button {
    background: #555;
    display: block;
}
.drop_down_button a {
    display:block;
}

.drop_down_button:hover {
    background: #666;
}

/*_______________________________________________*/
/*__________________________________________________*/


.first_block {;
    margin-top: 60px;
}

.first_block .block_item_1 {
    border-radius: 0 10% 10% 0;
}

.first_block .block_item_2 {
    margin: 0 30px;
}

.block_item_2 .button_small {
    margin-left: 25px;
}

.first_block .block_item_3 {
    border-radius: 10% 0 0 10%;
}

.left_part .bottom_of_left_part {
    margin-right: 180px;
}

.right_part .text {
    margin-left: 30px;
}
