body {
    margin: 0;
}

.top {
    height: 450px;
    display: flex;
}

.left_part {
    width: 50%;
    background: #6f4949;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_part img {
    width: 95%;
}

.right_part {
    width: 50%;
    background: #dbbebe;
}

h1 {
    margin: 30px;
    font-size: 40px;
}

.right_part p {
    font-size: 25px;
    margin: 55px;
    text-align: justify;
    font-family: Arial, serif;
}

.middle {
    height: 200px;
    background: #b4f176;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle h2 {
    margin: 0;
    font-size: 30px;
}

.bottom {
    height: 400px;
    background: #ffff91;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom_item {
    height: 80%;
    width: 27%;
    background: #611d1d;
}

.bottom_item img {
    width: 100%;
}

.bottom_item h3 {
    color: white;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffc273;
}