.bg_dark {
    background: #102b3e;
}

.bg_light {
    background: #6964e2;
}

.color_dark {
    color: #102b3e;
}

.color_light {
    color: #6964e2;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w300 {
    width: 300px;
}

.w450 {
    width: 450px;
}

.h50 {
    height: 50px;
}
.h100 {
    height: 100px;
}

.h150 {
    height: 150px;
}

.h300 {
    height: 300px;
}

.h400 {
    height: 400px;
}

.h500 {
    height: 500px;
}

.br10 {
    border-radius: 10%;
}

.br50 {
    border-radius: 50%;
}

.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fce {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-j {
    text-align: justify;
}

body {
    margin: 0;
    background: #ced8e1;
}

.menu {
    height: 70px;
    width: 100%;
    background: #ced8e1;
    position: fixed;
    opacity: .80;
    z-index: 1;
}

.menu a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.menu a:hover {
    color: white;
    transition: 200ms;
}

#click_me {
    border: 2px solid gray;
    padding: 15px;
    background: #9da5ac;
}

#click_me:hover {
    background: #ced8e1;
    transition: 200ms;
}

.up {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    background: white;
    border: 1px solid gray;
}

.up p {
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.whole_page {
    width: 90%;
    margin: auto;
}

.main_bg {
    position: relative;
    top: 100px;
}

.main_text {
    position: absolute;
    width: 100%;
    flex-direction: column;
    top: 60px;
}

.main_text p   {
    width: 30%;
}

.blocks {
    position: relative;
    top: 405px;
}

.block_item {
    margin: 20px;
}

#header {
margin-top: 250px;
}

.content_second .block_item p {
    width: 300px;
    text-align: justify;
}

h2.color_dark.fcc {
    margin-top: 50px;
}

.content_third {
    margin: auto;
    width: 80%;
}

.content_fourth {
    margin-top: 100px;
    display: flex;
}

.content_fourth .left_part {
    margin: 50px 0 0 200px;
}

.content_fourth .right_part {
    width: 800px;
    margin-left: 50px;
    text-align: justify;
}

.bottom {
    margin-top: 100px;
    height: 550px;
}

.bottom .content_item {
    margin: 20px;
}

/*____________________________________________*/
/*Друга сторінка*/
/*______________________________________________*/

.big_body {
    display: flex;
    margin-top: 200px;
}

.big_body .left_part {
    width: 40%;
}

.big_body .left_part h2 {
    margin-left: 20px;
}

.big_body .left_part .block_item {
    margin-bottom: 30px;
}

.bottom_of_left_part .block_item {
    margin: 5px;
}

.big_body .right_part {
    margin-left: 140px;
    width: 55%;
}

.big_body .right_part p {
    width: 400px;
}

.big_body .right_part h2 {
    margin-left: 40px;
}

.whole_page > h2 {
    margin: 70px;
}

.part_first, .part_second {
    display: flex;
}

.bigger {
    width: 75%;
    margin: 10px;
}

.smaller {
    width: 25%;
    margin: 10px;
}

.last_block .block_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom, .left_part_of_bottom {
    display: flex;
    align-items: center;
}

.bottom {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.left_part_of_bottom, .right_part_of_bottom {
    width: 50%;
}

