@media screen and  (max-width: 480px){

body {
    background: #e2f2ff;
}

    * {
        font-family: Roboto, serif;
    }

    .menu .left_part {
        width: 90%;
        margin: auto;
    }

    .menu .right_part {
        display: none;
}

    .menu .right_menu_mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu .right_menu_mob .line {
        position: relative;
        width: 20px;
        height: 3px;
        background: #000;
    }

    .menu .right_menu_mob .line:nth-child(1){
        bottom: 5px;
    }

    .menu .right_menu_mob .line:nth-child(3){
        bottom: -5px;
    }

    .first_block .right_part {
        display: none;
    }

    .first_block .left_part {
        width: 90%;
        margin: auto;
    }

    .big_header {
        font-size: 50px;
        width: 90%;
    }

    .first_block .left_part h1 {
        font-size: 60px;
    }

    .first_block .left_part .button {
        margin: auto;
    }

    .second_block {
        display: block;
    }

    .second_block .left_part {
        width: 100%;
    }

    .second_block .left_part img {
        width: 90%;
    }

    .second_block .right_part {
        width: 90%;
    }

    .second_block .right_part {
        width: 90%;
        margin: auto;
    }

    .third_block .blocks {
        flex-direction: column;
        margin: auto;
    }

    .third_block .blocks .block_item {
        width: 70%;

    }

    .fourth_block_child .blocks {
        flex-direction: column;
        margin: auto;
    }

    .fourth_block_child .blocks .block_item {
        width: 70%;

    }

    .fifth_block {
        display: block;
    }

    .fifth_block .left_part {
        width: 90%;
        margin: auto;
    }

    .fifth_block .right_part .block_line img {
        width: 30%;
        height: 80px;
    }

    .sixth_block .right_part {
        display: none;
    }

    .sixth_block .left_part {
        width: 90%;
        margin: auto;
    }

    .sixth_block .left_part .button {
        border-radius: 100px;
        margin: 50px auto;
    }


    .seventh_block_father .son {
        display: block;
    }

    .seventh_block_father .left_part {
        width: 90%;
        padding: 20px;
    }

    .seventh_block_father .right_part {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .bottom_daddy .son .fourth_bottom {
        display: block;
        margin: auto;
    }

    #Mobile_1 {
        display: flex;
    }

    #Mobile_2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
    }

    #Mobile_3 {
        display: block;
        color: #fff;
        font-size: 18px;
        margin: 20px;
    }

    #Mobile_3 .left_part {
        margin: 20px auto;
    }

    #Mobile_3 .right_part {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 90%;
    }


    #Mobile_3 .right_part p {
        width: 200px;
    }


    #Desc_1 {
        display: none;
    }

    #Desc_2 {
        display: none;
    }

    #Desc_3 {
        display: none;
    }

}